@charset "UTF-8";
/* Очистка отступов и границ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Меняем подсчет ширины блока так, чтобы нам было удобнее верстать */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Блокируем html теги */
nav,
footer,
header,
aside {
  display: block;
}

/* Уравниваем поведение шрифтов и элементов в разных браузеров, например: запрещием самовольноу увелечению шрифтов на iphone*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Заставляем input, bytton, textarea унаследовать семейства шрифта, по умолчанию они не унаследуются*/
input,
button,
textarea {
  font-family: inherit;
}

/* Убирает крестик в инпуте в explore */
input::-ms-clear {
  display: none;
}

/* Отступы в firefox для кнопок */
button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Чистятся списки маркерованных списков */
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* Обнуляем все заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
